        
    <div class="w3-row w3-padding-64">
        <form class="w3-container w3-card-4" asp-controller="Account" asp-action="Login">
            <p>
                <label>Username</label>
                <input class="w3-input" type="text" style="width:90%" name="username" required>
            </p>
            <p>
                <label>Password</label>
                <input class="w3-input" type="password" style="width:90%" name="password" required>
            </p>
            <span class="w3-tag w3-round w3-red w3-animate-opacity">@TempData["ErrorMessage"]</span>
            <p>
                <input id="milk" class="w3-check" type="checkbox" checked="checked">
                <label>Stay logged in</label>
            </p>
            <p>
                <button class="w3-button w3-section w3-teal w3-ripple" type="submit"> Log in </button>
            </p>
        </form>
    </div>
    <div class="w3-row w3-padding-64">

    </div>